/*css重置*/
html {
  font-size: 20px;
}
html {
  font-family: "微软雅黑"
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;text-decoration: none;
}

h3,h4{margin: 0; padding: 0}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
body {
      font-family: "微软雅黑";
    font-size: 0.85rem;
    line-height: 1.5;
    color: #3d4145;
    background-color: #efefef;
}
img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;}
p {margin: 0;}
.clear{clear: both;}
/*页面*/
.head{height: 2.048rem;padding:0 0.575rem;background-color: #192332;position: relative;}
.head .log{ line-height: 2.048rem;float: left;}
.head .log>img{height:1.152rem;}
.head .top-link{float: left; position: relative;height: 2.048rem; overflow:hidden;}
.head .top-link .link-item{margin-left:0.576rem;display: block;color:#fff;font-size:0.597333333rem;float: left;line-height: 2.048rem;}
.head .top-link .link-item >img{height:0.64rem;}
.head .search{width: 0.768rem;height:2.048rem;line-height:2.048rem;position: absolute;right: 0.575rem;top:0;}

.search-contain{background: #fff;height:1.706666666rem;line-height:1.706666666rem;padding: 0 0.575rem;position: relative;display: none;border-bottom: 1px solid #f2f2f2;}
.search-contain .label{width: 13.2rem;height:1.17333333rem;background-color: #efefef;border-radius:0.5866666666rem;display: inline-block;vertical-align: middle;position: relative;margin-top: -3px;}
.search-contain .label .text{background-color: transparent;border: none;width: 100%;height: 100%;display: block; outline: none;padding-left: 0.8rem;font-size: 0.512rem;}
.search-contain .label .hide{padding:0 0.341rem;height:0.682666666rem;line-height:0.682666666rem;font-size:0.512rem;color:#999;border-left: 1px solid #999;position:absolute;right:0.5rem;top:0.298666666rem;cursor: pointer;-webkit-user-select: none;}
.search-contain .form-btn{position: absolute;right:0.575rem;top:0;line-height: 1.6066666rem;}
.search-contain .form-btn .submit{border: none;background-color: transparent;padding: 0;color:#333;font-size:0.597333333rem;outline: none;}

.navs{height: 2.005333333333rem;background-color: #fff;position: relative;}
.navs .nav-menu{position: absolute;right:0;top:0;text-align: center;line-height: 2.005333333rem;background-color: #fff;width: 2.13333rem;border-left: 1px solid #e9e9e9;}
.navs .nav-menu>img{width:1.008rem;}
.navs .navs-body{height: 2.005333333333rem;overflow-y: hidden;overflow-x: scroll;width: 13.866666rem;position: absolute;left:0;top:0;}
.navs .navs-body::-webkit-scrollbar{display: none;}
.navs .navs-body>div{padding:0 0.575rem;}
.navs .navs-body .nav-item{padding:0 0.17066666rem;display:block;float: left;margin-right:0.192rem;line-height: 2.005333333333rem;font-size:0.5973333rem;color:#333;border-bottom: 2px solid #fff;height: 2.005333333333rem;}
.navs .navs-body .nav-item:hover,.navs .navs-body .nav-item.on{color:#ff5970;border-bottom: 2px solid #ff5970;}

.nav-log{background-color:#efefef;padding:0.6444444rem 0.4rem 0.266666rem 0;overflow: hidden;}
.nav-log .log-link{width:3.488888rem;height: 2.51111111rem;float: left;margin-left:0.4rem;margin-bottom: 0.4rem;border-radius:4px;}
.long .log-link{ width: 4.8rem; height: 4rem;}

.nav-log .log-link .log{display: block;margin: 0.355555rem auto 0.22222rem;height: 0.97777777rem;}
.long .log-link .log{margin-top: 1.2rem;}
.nav-log .log-link  .name{color:#fff;text-align: center;font-size:0.533333rem;}
.nav-log .log-link.a{background-color:#f25e84;}
.nav-log .log-link.b{background-color:#b677dd;}
.nav-log .log-link.c{background-color:#728be7;}
.nav-log .log-link.d{background-color:#ff8901;}
.nav-log .log-link.e{background-color:#35c977;}
.nav-log .log-link.f{background-color:#ea5fba;}
.nav-log .log-link.g{background-color:#47b9e9;}
.nav-log .log-link.h{background-color:#f95651;}


.nav-log .log-link.h1{background-color:#c9bd35;}
.nav-log .log-link.i1{background-color:#4c6c99;}
.nav-log .log-link.j1{background-color:#984c99;}

.video-body{background: #fff;padding:0 0.5111111rem;margin-bottom:0.444444rem;margin-top: 0.3rem;}
.video-body .video-head{height: 1.822222rem;line-height: 1.822222rem;position: relative;}
.video-body .video-head .video-title{font-size:0.533333rem;color:#333;}
.video-body .images-back .video-title{position: relative;margin-left: 0.7rem;color: #999;}
.video-body .images-back .video-title::before{content: " ";width: 0.7rem;height: 1.2rem;display: inline-block;background: url(../images/mlu_03.jpg) no-repeat;background-size: 100%;top: 0.6rem;position: absolute;left: -0.8rem;}



.video-body .video-head .more{position: absolute;right:0;top:0;font-size:0.533333rem;color:#333;}
.video-body .video-head .more>img{height:0.53333333rem;}

.video-more{height: 1.822222rem;line-height: 1.822222rem;position: relative;margin-top: -0.444444rem;text-align: center;}
.video-more .video-title{font-size: 0.7rem;color:#333;}
.v-top{position: fixed;width: 2rem;height: 2rem;z-index: 999;bottom:2.5rem;right: 1rem;}


.video-list{overflow: hidden;}
.images-list img{margin-bottom: 0.2rem}
.images-list h3{text-align: center;font-size: 1rem;color: #05a7ff;font-weight: normal;}
.images-list h4{text-align: center;font-size: 0.55rem;line-height: 0.9rem;font-weight: normal;color: #999;margin-bottom: 0.4rem;overflow: hidden;}

.images-list .story{line-height: 1rem;font-size: 0.6rem;color: #999999;margin-bottom: 0.3rem;font-family: "微软雅黑";}
.images-list .story::before{content: " ";display: inline-block;width: 1rem;height: 0.6rem;}

.video-list .video-item{width: 7.26666666rem;float: left;margin-right:0.4444444444rem;height: 8.11111111rem;}
.video-list .video-item:nth-child(even){margin-right: 0;}
.video-list .video-item .log{widows: 100%;height:4.2222222rem;overflow: hidden;line-height:4.2222222rem;text-align: center;}
.video-list .video-item .title{text-align: center;font-size:0.6222222rem;color:#333;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;margin-top: 0.222222rem;line-height: 0.88888889rem;}
.video-list .video-item .xin-level{height: 1rem;line-height: 1rem;text-align: center;font-size: 0;}
.video-list .video-item .xin-level .xing{width: 0.7333333rem;height:0.7111111rem;display: inline-block;background: url(../images/xing-ico.png) 0 0 no-repeat;background-size: 100% auto;}
.video-list .video-item .xin-level .xing.on{background: url(../images/xing-ico.png) 0 100% no-repeat;background-size: 100% auto;margin: 0 0.0666666rem;}
.video-list .video-item .video-foot{overflow: hidden; font-size: 0.533333rem;color:#999;line-height: 0.888888rem;}
.video-list .video-item .video-foot .time{float: left;}
.video-list .video-item .video-foot .view{float: right;}
.video-list .video-item .t-left{ text-align: left;}
.video-list .video-item .video-foots{overflow: hidden;font-size: 0.533333rem;line-height: 0.888888rem;color: #ff5970;margin-top: 0.2rem;}
.video-list .video-item .video-foots .time{float: left;position: relative;margin-left: 1rem;}
.video-list .video-item .video-foots .time:before{content:"";display:inline-block;height: 0.7rem;width: 1rem;background: url(../images/eyes_03.png)  no-repeat;background-size: 100%;position: absolute;top: 0.08rem;left: -1rem;}
.video-list .video-item .video-foots .view{float: right;position: relative;}
.video-list .video-item .video-foots .view:before{content:"";display:inline-block;height: 0.7rem;width: 0.7rem;background: url(../images/r-image_03.png)  no-repeat;background-size: 100%;position: absolute;left: -0.7rem;top: 0.02rem;}


.storyList .storyList-item{width: 15rem;float: left;margin-right:0.4444444444rem;padding-top: 0.5rem;font-family: "微软雅黑";border-bottom: 1px solid #c2c2c2;}
.storyList .storyList-item .title{width: 11.5rem;float: left;height: 1rem;display: inline-block;font-size: 0.58rem;color: #000;}
.storyList .storyList-item .time{width: 3.5rem;float: right;height: 1rem;display: inline-block;font-size: 0.5rem;line-height: 1rem;color: #999999;}


ul,li{padding: 0; margin:0}

.regcontent>ul,.regcontent li{list-style: none;height: 2rem;margin: 0;padding: 0;line-height: 2rem;margin-bottom: 0.3rem;}
.regcontent>ul{height: 2rem;border-bottom: 1px solid #c2c2c2;margin=b: 0;}
.regcontent{width: 15rem;float: left;margin-right:0.4444444444rem;padding-top: 0.5rem;font-family: "微软雅黑";}
.regcontent>ul li{width: 7.5rem;float: left;text-align: center;font-weight: normal;font-size: 0.7rem;}
.regcontent>ul li.select{border-bottom: 2px solid #ff5970;}
.logins li{margin-bottom: 0.3rem;border-bottom: 1px solid #c2c2c2;}
.logins label{font-size: 0.6rem;width: 3rem;height: 1.6rem;float: left;display: inline-block;line-height: 1.6rem;}
.logins input[type='text'],.logins input[type='password']{font-size: 0.6rem;outline: none;width: 12rem;float: left;height: 1.6rem;display: inline-block;padding-left: 0.2rem;border: none;}
.logins input[type='radio']{width: 0.5rem;margin-right: 0.2rem;height: 0.5rem;float: left;margin-top: 0.53rem;}
.logins li b{width: 0.5rem;margin-right: 1rem;font-size: 0.6rem;height: 1.6rem;display: inline-block;font-weight: normal;float: left;line-height: 1.6rem;}

.logins input[type='checkbox']{height: 0.5rem;width: 0.5rem;float: left;display: inline-block;margin-top: 0.78rem;}
.logins span{float: left;width: 6rem;height: 2rem;font-size: 0.6rem;line-height: 2rem;color: #333333;margin-left: 0.2rem;}
.logins .not>a{float: left;width: 8.3rem;height: 2rem;display: inline-block;text-align: right;font-size: 0.58rem;color: #333;}
.logins button{width: 15rem;display: inline-block;height: 1rem;border-radius: 5px;height: 2rem;background-color: #ff5970;color: #fff;font-size: 0.7rem;border: none;}
.logins li.not{border-bottom: none;}
.logins li.ok{height: 1.2rem;margin-bottom: 0rem;}
.logins li.ok input[type='checkbox']{height: 0.5rem;width: 0.5rem;float: left;display: inline-block;margin-top: 0.38rem;}
.logins li.ok span{float: left;width: 9rem;height: 1.2rem;font-size: 0.6rem;line-height: 1.2rem;color: #333333;margin-left: 0.2rem;}
.logins li.ok a{color: #00bafa; width: 3rem}


.page-foot{background:url(../images/foot-bg.png) no-repeat;background-size: 100% auto; height: 7.8rem;  position: relative;  overflow: hidden}
.page-foot .foot-log{text-align: center; height: 1.26666666rem;margin:0.777777778rem  auto 1.2222222rem;}
.page-foot .foot-log>img{height: 100%;}
.page-foot .foot-body{position:relative;}
.page-foot .foot-body .left-log{width:2.5333333rem;position:absolute;left:0.91111111rem;top:0.1rem;}
.page-foot .foot-body .right-body{position: absolute;left:4.33333rem;top:0;}
.page-foot .foot-body .right-body .line{font-size:0.6222222rem;color:#fff;margin-bottom:0.6rem;} 
.page-foot .foot-body .right-body .qqlink{margin-left:.6rem;}
.page-foot .foot-body .right-body .qqlink >img{height: 1.2rem;}
.foot-d{height:1.7777778rem;background-color: #202d40;text-align: center;font-size:0.6222222rem;color:#f0ff00;line-height: 1rem;}



.palyContent{width: 16rem;height: 10.3rem;background: #fff;padding: 0 0.511111rem;}
.play{width: 15rem;height: 7rem;border: 1px solid #c2c2c2;overflow: hidden;margin-bottom: 0.3rem;}
.playName{
    width: 15rem;
    height: 3.3rem;
}
.playName .left{
    width: 8.7rem;
    float: left;
}
.playName .name{
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.68rem;
}
.playName .watch{
    height: 1rem;
    line-height: 1rem;
    font-size: 0.44rem;
}


.playName .right{
    width: 6rem;
    float: left;
    line-height: 2.4rem;
    height: 2.4rem;
}



.playName .praise{
    width: 3rem;
    height: 2.4rem;
    display: inherit;
    float: left;
    line-height: 2.4rem;
    font-size: 0.55rem;
}
.playName .praise::before{ content: "";}
.playName .praises::before{ content: "";}



.playName .noPraise{
    width: 2rem;
    height: 2.4rem;
    display: inherit;
    float: left;
    line-height: 2.4rem;
    font-size: 0.55rem;
    color: #999;
}
.playName .noPraise::before{ content: "";}
.playName .noPraises::before{ content: "";}
.promote{width: 16rem;background-color: #fff;margin-top: 0.5rem;padding-bottom: 0.5rem;padding: 0 0.51111rem;}
.promoteAddress{width: 15rem;height: 4rem;line-height: 1rem;padding-top: 0.3rem;overflow: hidden;font-size: 0.6rem;}
.promoteTitle{color: #ff5970;width: 15rem;font-size: 0.60rem;line-height: 1rem;padding-bottom: 0.3rem;}
.url{
    width: 15rem;
    height: 2rem;
    border: 1px solid #c2c2c2;
    word-wrap: break-word;
    padding: 0.3rem;
    font-size: 0.66rem;
    line-height: 1.2rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.url input{width: 100%;height: 1rem;border:none;outline: none;}
.copy{
    width: 15rem;
    height: 2rem;
    text-align: center;
    color: #fff;
    background: #05a7ff;
    line-height: 2rem;
    border-radius: 0.3rem;
    overflow: hidden;
    margin-bottom: 0.6rem;
}



.comments{width: 16rem;margin: 0 auto;background-color: #fff;margin-top: 0.5rem;padding: 0 0.511111rem;padding-top: 0.5rem;}
.english{ word-wrap:  break-word; overflow-wrap: break-word; line-height: 1rem; orphans: 2; windows:2; font-family: sans-serif; hyphens: auto;}
.write{width: 15rem;height: 1.2rem;line-height: 1.2rem;margin-bottom: 0.4rem;}
.write .title{width: 5rem;float: left;border-left: 0.2rem solid #ff6d86;padding-left: 0.3rem;font-size: 0.6rem;}
.write .WriteComment{width: 3rem; position: relative; float: right;font-size: 0.6rem;color: #05a7ff;text-align: right;}
.write .WriteComment:before{content: " ";width: 0.8rem;height: 0.7rem;display: inline-block;background: url(../images/edior_05.jpg) no-repeat;background-size: 100%;top: 0.25rem;position: absolute;left: 0.4rem;}

.comments li{overflow: hidden;padding-bottom: 1rem;border-bottom: 1px solid #ccc;margin-bottom: 1rem;list-style: none;display: none;}
.comments li .people{width: 3rem;height: 3rem;border-radius: 50%;float: left;border: 1px solid #c2c2c2;overflow: hidden;}
.comments li .people img{ width: 100%; height: 100%;}
.comments li:last-child{border-bottom: 0px;}

.comments li .describe{max-height: 5rem;width: 10.5rem;float: left;margin-left: 0.5rem;}
.comments li .describeName{width: 11.5rem;height: 1.2rem;line-height: 1.2rem;}
.describeName .Pname{width: 4rem;line-height: 1rem;height: 1rem;float: left;color: #00bafa;font-size: 0.6rem;}
.describeName .Ptime{width: 3rem;line-height: 1rem;height: 1rem;float: right;font-size: 0.4rem;color:#999;text-align: right;}
.comments li .describeText{line-height: 1rem;max-height: 4rem;width: 11.5rem;font-size: 0.56rem;overflow: hidden;}




.pop{height: 100%;width: 100%;position: fixed;top: 0;z-index: 999;background: rgba(0, 0, 0, 0.3);}
.editor{width: 100%;height: 7rem;bottom: 0;position: fixed;z-index: 9999;background: #fff;}
.editor textarea{width: 100%;padding: 0.3rem;color: #ccc;resize:none;height: 4.8rem;outline: none;border: none;font-size: 0.56rem;}
.editor p{width: 100%;line-height: 1.4rem;height: 1.4rem;background: #f2f2f2;z-index: 99999;position: absolute;bottom: 0;}
.editor .ok{width: 50%;text-align: center;display: inline-block;float: left;font-size: 0.6rem;color: #00bafa;}
.editor .over{width: 50%;text-align: center;display: inline-block;float: left;color: #666;font-size: 0.6rem;}





.right .praise{
    float: left;
    width: 2.5rem;
    color: #999;
    cursor: pointer;
    overflow: hidden;
    margin-left: 1.5rem;
    }
.right .praise i{width: 0.8rem;height: 0.8rem;float: left;margin-top: 0.78rem;color: #999;}
.right .praise img{float: left;}

.right .noPraise .g2{margin-top: 0.84rem;}
.right .noPraise i{width: 0.8rem;height: 0.8rem;float: left;margin-top: 0.8rem;}
.right .noPraise img{float: left;}
.gray{background: #efefef;padding: 0rem;margin-top: 0rem;}