div,
a,
img,
ul,
li,
h3,
p {
    padding: 0;
    margin: 0;
}

.red{
	color:red;
}
.banner {
    width: 100%;
}

.banner img {
    display: block;
    width: 100%;
}

div img {
    display: block;
    width: 100%;
}

.margin-bottom-15 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn-download {
    display: block;
    width:30%;
	padding:0px 2rem;
	margin:0 auto;
    height: 3rem;
    line-height: 3rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    padding-left:20%;
    border: 2px solid #0ec8df;
    color: #0ec8df;
    border-radius: .5rem;
    
}
 .btn_download_android{
 	background: url(../images/icon_android_hover.png) 10% center no-repeat;
 }
 .btn_download_ios{
 	background: url(../images/icon_ios_hover.png) 10% center no-repeat;
 }

.h3 {
    height: auto;
    line-height: 1.5rem;
    text-align: center;
    margin: 1rem 0 0.5rem;
    padding: 1rem 0;
    background: #0ec8df;
    color: white;
    font-size: 1.5rem;
}

.h4 {
    font-size: 1rem;
    text-align: center;
}

.text-list {
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}